<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>这是标题一</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题二</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题三</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题四</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题五</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题六</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题七</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<true/>
	</dict>
	<dict>
		<key>title</key>
		<string>这是标题八</string>
		<key>begin_time</key>
		<string>2015-05-17 14:00</string>
		<key>end_time</key>
		<string>2015-05-17 18:00</string>
		<key>location</key>
		<string>颐高创业大厦</string>
		<key>is_end</key>
		<false/>
	</dict>
</array>
</plist>
