<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<array>
		<dict>
			<key>location</key>
			<string>上城区</string>
			<key>locationID</key>
			<integer>3135</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>下城区</string>
			<key>locationID</key>
			<integer>3136</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>江干区</string>
			<key>locationID</key>
			<integer>3137</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>拱墅区</string>
			<key>locationID</key>
			<integer>3138</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>西湖区</string>
			<key>locationID</key>
			<integer>3139</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>滨江区</string>
			<key>locationID</key>
			<integer>3140</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>萧山区</string>
			<key>locationID</key>
			<integer>3141</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>余杭区</string>
			<key>locationID</key>
			<integer>3142</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>桐庐县</string>
			<key>locationID</key>
			<integer>3143</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>淳安县</string>
			<key>locationID</key>
			<integer>3144</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>建德市</string>
			<key>locationID</key>
			<integer>3145</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>富阳市</string>
			<key>locationID</key>
			<integer>3146</integer>
		</dict>
		<dict>
			<key>location</key>
			<string>临安市</string>
			<key>locationID</key>
			<integer>3147</integer>
		</dict>
	</array>
</dict>
</plist>
