<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Address</key>
	<array>
		<dict>
			<key>location</key>
			<string>上城区</string>
			<key>locationID</key>
			<string>3135</string>
		</dict>
		<dict>
			<key>location</key>
			<string>下城区</string>
			<key>locationID</key>
			<string>3136</string>
		</dict>
		<dict>
			<key>location</key>
			<string>江干区</string>
			<key>locationID</key>
			<string>3137</string>
		</dict>
		<dict>
			<key>location</key>
			<string>拱墅区</string>
			<key>locationID</key>
			<string>3138</string>
		</dict>
		<dict>
			<key>location</key>
			<string>西湖区</string>
			<key>locationID</key>
			<string>3139</string>
		</dict>
		<dict>
			<key>location</key>
			<string>滨江区</string>
			<key>locationID</key>
			<string>3140</string>
		</dict>
		<dict>
			<key>location</key>
			<string>萧山区</string>
			<key>locationID</key>
			<string>3141</string>
		</dict>
		<dict>
			<key>location</key>
			<string>余杭区</string>
			<key>locationID</key>
			<string>3142</string>
		</dict>
		<dict>
			<key>location</key>
			<string>桐庐县</string>
			<key>locationID</key>
			<string>3143</string>
		</dict>
		<dict>
			<key>location</key>
			<string>淳安县</string>
			<key>locationID</key>
			<string>3144</string>
		</dict>
		<dict>
			<key>location</key>
			<string>建德市</string>
			<key>locationID</key>
			<string>3145</string>
		</dict>
		<dict>
			<key>location</key>
			<string>富阳市</string>
			<key>locationID</key>
			<string>3146</string>
		</dict>
		<dict>
			<key>location</key>
			<string>临安市</string>
			<key>locationID</key>
			<string>3147</string>
		</dict>
	</array>
</dict>
</plist>
